html, body {
  margin: 0;
  padding: 0;
}

.inspector {
  font-family: "Fira Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
}

.inspector-json {
  padding: 0.375rem 1.5625rem;
  font-family: inherit;
}

.inspector .title {
  display: inline-block;
  margin: 1.25rem 1.5625rem 0 1.5625rem;
  padding: 0.25rem 0.5rem;
  background: #1d096e;
  color: #f0f0f0;
  border-radius: 4px;
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

.inspector-json li.object > a:before,
.inspector-json li.array > a:before {
  content: '[–]';
  width: auto;
  font-weight: bold;
}

.inspector-json li.collapsed > a:before {
  content: '[+]';
  width: auto;
  font-weight: bold;
}

.inspector-json [data-path="this.browser.name"] span,
.inspector-json [data-path="this.browser.version"] span,
.inspector-json [data-path="this.os.name"] span,
.inspector-json [data-path="this.os.version"] span {
  font-weight: bold;
  color: #b71c1c;
}

.upload {
  margin: 0 1.5625rem 1.25rem;
  overflow: auto;
}

.upload-form {
  float: left;
  margin: 0 0.5rem 0.625rem 0;
}

.upload-form textarea {
  display: none;
}

.btn-upload {
  display: inline-block;
  padding: 0.1875rem 0.375rem;
  border: 0.125rem solid #1d096e;
  border-radius: 3px;
  color: #283593;
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  -webkit-appearance: none;
  background: #fff;
}

.btn-upload:focus {
  outline: none;
}

.btn-upload:hover {
  background: #1d096e;
  color: #e0e0e0;
}

a {
  text-decoration: none;
}
